/* Estilos generales */
body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  /* Modo claro */
  body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Modo oscuro */
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  .navbar, .sidebar, .footer {
    background-color: inherit;
  }
  
  /* Botón de modo oscuro/claro */
  .theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    background-color: #ffffff;
  }
  
  body.dark .theme-toggle {
    color: #ffffff;
    background-color: #007bff;
  }
  
  /* Estilos para el logo de LinkedIn */
  .linkedin-logo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  